//Hides the scroll bar for the HTML.
html {
  overflow: hidden;
}

//Apply the vertical scrollbar for the body.
//Height needed to work.
body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

//Wrapper for content.
//Technology used: css3 grid.
.grid {
  background: $eerieBlack;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10vh, auto) minmax(82.5vh, auto) minmax(10%, auto);
  grid-template-areas:
  "header"
  "main"
  "footer";
};

//Grid for about.html.
.aboutGrid {
  background: $white;
}

//General classes for the header.
header {
  grid-area: header;
  transition: all 0.2 ease-in;
  position: relative;
  width: 100%;
  .logo {
    margin: auto 5%;
    padding: 3em;
    float: left;
    width: 10vh;
    height: auto;
    img {
      max-width: 100%;
    }
  }
  .menuContainer {
    opacity: 1;
    margin: auto 5%;
    position: relative;
    z-index: 1;
    float: right;
    padding-right: 5%;
    padding-top: 110px;
    .menuGroup {
      cursor: pointer;
    }
  }
  .blackHole {
    position: fixed;
    z-index: 0;
    display: none;
    background: $fawn;
    width: 100%;
    height: 0%;
    overflow: hidden;
    nav {
      width: 0%;
      margin: 20% auto 0 45%;
    }
  }
}

//General classes for the main content.
main {
  grid-area: main;
  //==[INDEX CLASSES]==
  .homeArticle {
    width: 100%;
    height: 100%;
  }
  .heroText {
    box-sizing: border-box;
    @include bodyMargin(10%);
    width: 55%;
    float: left;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .mainButtonDiv {
    width: 100%;
    margin: 0 auto;
    //background-color: rgba(0, 255, 255, 0.1);
  }
  .sectionBg {
    width: 100%;
    min-height: 100%;
    background: seagreen;
    box-sizing: border-box;
    @include bodyMargin(1%);
  }

  //==[ABOUT CLASSES]==
  .sectionWords {
    box-sizing: border-box;
    width: 100%;
    min-height: 63.7vh;
    background: silver;
  }
  .floatLeft {
    float: left;
    display: block;
  }
  .floatRight {
    float: right;
    display: block;
  }
  .homeArticleGrid {
    display: grid;
    grid-template-rows: repeat(3, minmax(83vh, auto));
  }
  .bgColor {
    background: $purpleNavy;
  }
  .imageContainer {
    background: red;
  }
  .sectionContentLeft {
    box-sizing: border-box;
    background: royalblue;
    width: 50%;
    float: left;
    padding-right: 5%;
  }
  .sectionContentRight {
    background: royalblue;
    width: 50%;
    float: right;
    padding-left: 5%;
    text-align: right;
  }
}

//General classes for the footer.
footer {
  grid-area: footer;
  background: $deepKoamaru;
  .footerContent {
    margin: 5% 15%;
    .social {
      padding: 1em;
      width: 15%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    a.csFooter:hover {
      transition: all 0.2s ease-in;
      color: $purpleNavy;
    }
  }
};
