@mixin bodyMargin($topMargin) {
  padding-top: $topMargin;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

@mixin bodyPadding($topPad, $leftPad, $rightPad, $botPad) {
  padding-top: $topPad;
  padding-left: $leftPad;
  padding-right: $rightPad;
  padding-bottom: $botPad;
}


@mixin bigButtonDivPad {
  padding: 1em;
}

@mixin bigButton($color) {
  color: $color;
  padding: 1em;
  border: 2px $color solid;
  border-radius: 70px;
}

@mixin bigButtonHover($bgColor, $font) {
  transition: all 0.2s ease-in;
  background: $bgColor;
  border: 2px $bgColor solid;
  color: $font;
}
