body {
  font-family: "Segoe UI", sans-serif;
}

.heroText {
  color: $white;
  h1 {
    font-size: 64px;
    .creative {
      color: $deepKoamaru;
    }
    .stick {
      color: $fawn;
    }
  }
}

main {
  .sectionWords {
    @include bodyMargin(5%);
    @include defaultH1($eerieBlack);
    width: 25%;
    line-height: 1.5;
    background: grey;
  }
  .floatRight {
    text-align: right;
    float: right;
    background: silver;
    display: block;
  }
  .floatLeft {
    text-align: left;
    float: left;
    background: silver;
    display: block;
  }
}

.footerContent {
  color: $white;
  .csFooter {
    font-size: 30px;
  }
  line-height: 0.3;
}
