body {
  font-family: "Segoe UI", sans-serif;
}

.heroText {
  color: $white;
  h1 {
    font-size: 64px;
  }
}

.creative {
  color: $deepKoamaru;
}
.stick {
  color: $fawn;
}

main {
  .sectionWords {
    line-height: 1.5;
  }
  .floatRight {
    text-align: right;
  }
  .floatLeft {
    text-align: left;
  }
  .inColor {
    color: $white;
    line-height: 1.5;
  }
  .inWhite {
    color: $eerieBlack;
    line-height: 1.5;
  }
  .defaultH2 {
    font-size: 48px;
  }
}

.footerContent {
  color: $white;
  .csFooter {
    font-size: 30px;
  }
  line-height: 0.3;
}
