body {
  font-family: "Segoe UI", sans-serif;
}

.bigWords {
  color: $white;
  h1 {
    font-size: 64px;
    .creative {
      color: $deepKoamaru;
    }
    .stick {
      color: $fawn;
    }
  }
}

.footerContent {
  color: $white;
  .csFooter {
    font-size: 30px;
  }
  line-height: 0.3;
}
