a {
  text-decoration: none;
  color: $white;
}

a:link {
  color: $white;
}
a:visited {
  color: $white;
}
a:active {
  color: $deepKoamaru;
}
a:hover {
  transition: all 0.2s ease-in-out;
  color: $deepKoamaru;
}

.logo {
  // //
  // // width: 15%;
  // background: $purpleNavy;
  // // img {
  // //   max-width: 100%;
  // // }
}

nav {
  ul {
    li {
      font-size: 1em;
      font-weight: bold;
      list-style-type: none;
      display: inline;
    }
  }
}

.mainButtonDiv {
padding: 1em;
  .button {
    color: $japaneseIndigo;
    padding: 1em;
    border: 2px $japaneseIndigo solid;
    border-radius: 70px;
  }
  .button:hover {
    transition: all 0.2s ease-in;
    background: $deepKoamaru;
    border: 2px $deepKoamaru solid;
    color: $white;
  }
}
